.wrapper{
    background-color: black;
    overflow-x: hidden;
}

.career, .awards{
    color: white;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 50px;
    text-align: center;
    background: -webkit-linear-gradient(white, rgb(31, 240, 31));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:2px ;
}

.career{
    margin-bottom: 120px;
}

.career:hover, .awards:hover{
    background: -webkit-linear-gradient(rgb(31, 240, 31),white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    letter-spacing: 10px;
    border-bottom: 2px solid white;
}

.careerDetails{
    position: absolute;
    top: -50%;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-family: Rokkitt;
}

.careerDetails:hover{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.aw1, .aw2{
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.aw1:hover,.aw2:hover{
    opacity: 1;
}

.subheading-section-2{
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}

.para-details{
    color: white;
    font-family: Rokkitt;
}

.head-para{
    font-family: 'Big Shoulders Stencil Text', cursive;
}


@media only screen and (max-width: 600px) {
    
    .careerDetails{
        font-size: 13px;
    }
    .career:hover, .awards:hover{
        background: -webkit-linear-gradient(rgb(31, 240, 31),white);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        letter-spacing: 5px;
        border-bottom: 1px solid white;
    }
    .careerDetails:hover{
        background: none;
    }
    .aw1,.aw2{
        opacity: 1;
        width: 120%;
    }
    .careerDetails{
       left: 0;
       top: -50%;
    }
  }

  @media only screen and (max-width: 600px) {

    .careerDetails{
        left: 0;
        top: -50%;
     }
  }
  
 
      

      .awards{
          margin-top: -200px;
      }



      @media (max-width:400px){
        .career{
            margin-bottom: 200px;
        }
      }

      @media (min-width:411px) and (max-width:500px){
        .awards{
            margin-top:-400px;
        }
      }

      @media (min-width:360px) and (max-width:411px){
        .awards{
            margin-top:-200px;
        }
      }

      @media (max-width:360px){
        .awards{
            margin-top:-500px;
        }
      }

      @media (max-width:600px){
        .awards{
            font-size: 30px;
        }
        .career{
            margin-bottom: 100px;
        }
      }

      @media (max-width:411px){
        .awards{
            font-size: 25px;
        }
      }

      @media (max-width:411px){
        .awards{
            margin-top:-600px;
        }
      }


     