.hide_class_whole{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  position: relative;

}

.avatar-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
padding: 1rem;
  background: linear-gradient(
146.82deg
, rgb(244, 215, 255) 9.68%, rgb(187, 107, 217) 89.83%);
    border-radius: 50%;
    margin: 0px auto 3rem;
    box-shadow: rgb(155 81 224 / 26%) 0px 3px 3px 3px;
    z-index: 10;
    transition: all 1s;
}

.avatar-img img{
    width: 70%;
    margin: auto;
    height: 100%;
    transition: all 1s;
}


.avatar-img:hover img{
    transform: translateY(500px);
    transition: all 1s;
} 

.Project-info{
    position: absolute;
    left: 10px;
  
}

.Project-info-head{
    font-size: 35px;
    background: -webkit-linear-gradient(45deg, rgb(227, 154, 255) 1%, rgb(97, 218, 251) 123.31%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-list{
    color: white;
    font-size: 25px;
    position: absolute;
    text-align: left;
    font-weight: 400;
    letter-spacing: 2px;
  
}

.project-item{
    margin-top: 8px;
}

.much-more{
    margin-top: 5px;
    font-size: 15px;
    color:darkgray;
}


@media (max-width:1200px){
    .avatar-img{

        margin-left: 250px;
    }
}
@media (max-width:945px){
    .avatar-img{

        margin-left: 350px;
    }
}
@media (max-width:729px){

   
    .avatar-img{
        width: 200px;
        height: 200px;
        margin-left: 400px;
        display: none;
        
    }

    .avatar-box{
        height: 40vh;
    }

    .avatar-img img{
        width: 100%;
        display: none;
    }
}
@media (max-width:400px){

   
  .Project-info-head{
      font-size: 30px;
  }

  .project-list{
      font-size: 20px;
  }


}
