.wrapper{
    background-color: black;
    overflow-x: hidden;
}

.career, .awards{
    color: white;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 50px;
    text-align: center;
    background: -webkit-linear-gradient(45deg, rgb(227, 154, 255) 1%, rgb(97, 218, 251) 123.31%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:2px ;
    line-height: 100px;
}

.career{
    margin-bottom: 100px;
}

.career:hover, .awards:hover{
    background: -webkit-linear-gradient(45deg, rgb(227, 154, 255) 1%, rgb(97, 218, 251) 123.31%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    letter-spacing: 10px;
    border-bottom: 2px solid white;
}
.career-box{
    border: 2px solid red;
    position: relative;
}

.career-box-images{
    width: 100%;
    height: 100%;
}
.careerDetails{
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-family: Rokkitt;
    border: 2px solid red;
}

.careerDetails:hover{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.aw1, .aw2{
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.aw1:hover,.aw2:hover{
    opacity: 1;
}

.subheading-section-2{
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}

.para-details{
    color: white;
    font-family: Rokkitt;
}

.head-para{
    font-family: 'Big Shoulders Stencil Text', cursive;
}


@media only screen and (max-width: 600px) {
    .awards {
      margin-top: 200px;
    }
    .careerDetails{
        font-size: 13px;
    }
    .career:hover, .awards:hover{
        background: -webkit-linear-gradient(45deg, rgb(227, 154, 255) 1%, rgb(97, 218, 251) 123.31%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
        font-size: 40px;
        letter-spacing: 5px;
        border-bottom: 1px solid white;
    }
    .careerDetails:hover{
        background: none;
    }
    .aw1,.aw2{
        opacity: 1;
        width: 120%;
        left: -10%;
    }
    .careerDetails{
       left: 0;
       top: 7%;
    }
  }

  @media only screen and (max-width: 600px) {

    .careerDetails{
        left: 0;
        top: 13%;
     }
  }

  @media  (max-width: 756px ) {
    .awards{
        margin-top: 100px;
    }
  }

  @media  (max-width: 400px ) {
    .awards{
        margin-top: 200px;
    }
  }

  @media  (max-width: 350px ) {
    .awards{
        margin-top: 300px;
    }
  }

  @media  (max-width: 325px ) {
    .awards{
        margin-top: 330px;
    }
  }

  @media  (min-width: 758px ) {
      .awards{
          margin-top: 400px;
      }
    }

    @media  (min-width: 788px ) {
        .awards{
            margin-top: 380px;
        }
      }

      @media  (min-width: 850px ) {
        .awards{
            margin-top: 200px;
        }
      }

      @media  (min-width: 900px ) {
        .awards{
            margin-top: 100px;
        }
      }
      
      @media  (min-width: 1100px ) {
        .awards{
            margin-top: 50px;
        }
      }